DirectoryIndex index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*+)$ index.html?key=$1 [L]

<FilesMatch "\.(?i:mp4)$">
      ForceType video/mp4
      Header set content-type video/mp4
</FilesMatch>

<if "%{QUERY_STRING} =~ /^fbclid=/">
 RewriteRule  .  %{REQUEST_URI}?   [R=301,L]
</if>
